.sm-typography-preview {
  max-width: 1000px;
  margin: 50px auto;

  display: grid;
  gap: 25px;
  grid-template-columns: max-content 1fr max-content;

  line-height: 1.25;
}

.sm-typography-preview__separator {
  grid-column-end: span 3;
  border: 0 dashed var(--sm-color-palette-accent-color-4);
  border-top-width: 2px;
}

.sm-typography-preview__separator--head {
  border-style: solid;
}

.sm-typography-preview__cell--head {
  font-family: SF Mono, monospace;
  font-size: 14px;
  font-feature-settings: 'calt' off;
  color: var( --sm-color-palette-accent-text-color-2);
}

.sm-typography-preview__cell--category {
  align-self: center;

  span {
    display: block;
    background: #777;
    border-radius: 9999em;
    color: #FFF;
    padding: 0.25em 1em 0.32em;
    text-align: center;
    text-transform: uppercase;

    &.sm_font_primary {
      background: #de1651;
    }

    &.sm_font_secondary {
      background: #1bb1a1;
    }

    &.sm_font_body {
      background: #485675;
    }

    &.sm_font_accent {
      background: #5c6ac4;
    }
  }
}

.sm-typography-preview__cell--preview {

  p {
    margin: 0;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  p + p {
    margin-top: 1.5em;
  }
}

.sm-typography-preview__cell--size {
  align-self: center;
  text-align: right;
}
