/*------------------------------------*\
  #TYPE SYSTEM PREVIEW
\*------------------------------------*/
$badge-font-primary: var(--sm-color-palette-accent-color-6, #5c6ac4);
$badge-font-secondary: #E06749;
$badge-font-body: #1D7E70;
$badge-font-accent: #9C9CDD;


// Customizer color variables 
* {--theme-super-display-color: var(--sm-current-fg2-color); }
* {--theme-display-color: var(--sm-current-fg2-color); }
* {--theme-heading-1-color: var(--sm-current-fg2-color); }
* {--theme-heading-2-color: var(--sm-current-fg2-color); }
* {--theme-heading-3-color: var(--sm-current-fg2-color); }
* {--theme-heading-4-color: var(--sm-current-fg2-color); }
* {--theme-heading-5-color: var(--sm-current-fg2-color); }
* {--theme-heading-6-color: var(--sm-current-fg2-color); }
* {--sm-button-background-color: var(--sm-current-accent-color); }

* {
  --theme-button-x-padding: 1.35em;
  --theme-button-y-padding: .7em;
  --theme-button-padding: calc(var(--theme-button-y-padding) - var(--theme-button-border-width)) var(--theme-button-x-padding);
}

.wp-block-button * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}


.sm-typography-preview {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;

  display: grid;
  gap: 25px;
  grid-template-columns: min-content auto min-content;

  line-height: 1.25;
}


// Rows Separator
.sm-typography-preview__separator {
  grid-column-end: span 3;
  border: 0 dashed var(--sm-color-palette-accent-color-4);
  border-top-width: 1px;
}

  .sm-typography-preview__separator--head {
    border-style: solid;
    border-top-width: 2px;
  }


// Head Row
.sm-typography-preview__cell--head {
  font-family: SF Mono, monospace;
  font-size: 14px;
  font-weight: 600;
  font-feature-settings: 'calt' off;
  color: var( --sm-color-palette-accent-text-color-2);
}


// Category Badges
.sm-typography-preview__cell--category {
  align-self: center;

  span {
    display: block;
    background: #777;
    border-radius: 9999em;
    padding: 0.35em 0.8em 0.2em;

    font-family: SF Mono, monospace;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    &.sm_font_primary {
      background: $badge-font-primary;
    }

    &.sm_font_secondary {
      background: $badge-font-secondary;
    }

    &.sm_font_body {
      background: $badge-font-body;
    }

    &.sm_font_accent {
      background: $badge-font-accent;
    }
  }
}


// Text preview
.sm-typography-preview__cell--preview {
  min-width: 0;

  // Elements forced to display in a single line
  &:is(.display_font, .heading_1_font, .heading_2_font, .accent_font) {

    > div {
      max-width: 100%;
      white-space: nowrap;
      overflow-x: clip;
      text-overflow: ellipsis;
    }
  }

  p {
    margin: 0;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  p + p {
    margin-top: 1.5em;
  }
}


// Font Size value
.sm-typography-preview__cell--size {
  align-self: center;
  text-align: right;

  font-family: SF Mono, monospace;
  font-size: 14px;
}


/*------------------------------------*\
  #TYPE SYSTEM OPTIONS
\*------------------------------------*/
.customize-control-title {
  &:is(.font_primary, .font_secondary, .font_body, .font_accent) {
    display: inline-block;
    padding: 0.25em 0.75em 0.25em;

    background: #777;
    border-radius: 9999em;
    color: #FFF;

    font-size: 16px;
    font-weight: 500;
  }

  &.font_primary {
    background: $badge-font-primary;
  }

  &.font_secondary {
    background: $badge-font-secondary;
  }

  &.font_body {
    background: $badge-font-body;
  }

  &.font_accent {
    background: $badge-font-accent;
  }
}