.customize-control-range {
  --customizer-field-padding-x: 0.4em;
  --customizer-field-padding-y: 0.4em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: auto;
  
  // We need an extra [class] just to make sure that we are overwriting
  // CSS applied on .customizer-control:not([class*='customize-control-nav_menu_item']).
  
  &[class] {
    margin-left: calc( -1 * var(--customize-control-spacing-x) );
  }

  &[class][class] > * {
    margin-left: var(--customize-control-spacing-x);
  }

  .customize-control-title,
  .customize-control-notifications-container {
    width: 100%;
  }

  .customize-control-description {
    flex: 0 0 100%;
  }

  input[type="range"] {
    flex: 1 1 0;
  }

  .range-value {
    flex: 0 0 4em;
    text-align: center;
  }

  label {
    font-size: 15px;
    font-weight: 500;
  }
}
