@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/controls';
@import 'scss/search';
@import 'scss/select2';

// theme
@import 'scss/feedback-modal';
@import 'scss/style-manager-panel';

.wp-full-overlay-sidebar {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }
}

.sm-control {

  & + & {
    margin-top: calc( 2 * var(--customizer-spacing) );
  }

  &__header + &__body {
    margin-top: var(--customizer-spacing);
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.01em;
  }
}

.customize-control {

  // hide color master controls
  &[id*="sm_dark_color_switch_slider"],
  &[id*="sm_dark_color_select_slider"],
  &[id*="sm_advanced_palette_output"],
  &[id*="sm_text_color_switch_master"],
  &[id*="sm_accent_color_switch_master"],
  &[id*="sm_text_color_select_master"],
  &[id*="sm_accent_color_select_master"] {
    display: none;
  }
}

/* prototype for having brand colors always visible
and other section use the available space
 */
#sub-accordion-section-sm_color_palettes_section,
#customize-control-sm_advanced_palette_source_control,
#customize-control-sm_advanced_palette_source_control > div,
#customize-control-sm_advanced_palette_source_control > div > .sm-group:last-child {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

#customize-control-sm_advanced_palette_source_control > div > .sm-group:last-child > .sm-blinds--open {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > .sm-blinds__body {
    flex: 1 0 0;
    overflow: auto;
    min-height: 400px;
  }
}

/* Remove customizer transitions on complex navigation to avoid confusing the user */
.remove-customizer-transitions {

  .customize-pane-parent,
  .customize-pane-child {
    transition-duration: 1ms !important;
  }

  .customize-pane-parent,
  [id="sub-accordion-panel-style_manager_panel"] {
    opacity: 0 !important;
  }
}

// remove margin when block editor is displayed inside the customizer sidebar
@media (min-width: 782px) {

  .customize-control-sidebar_block_editor .customize-widgets-header {
    margin-bottom: 0;
  }
}

@import 'scss/theme';
