@mixin apply-variation($i) {
  --sm-current-bg-color: var(--sm-bg-color-#{ $i });
  --sm-current-accent-color: var(--sm-accent-color-#{ $i });
  --sm-current-accent2-color: var(--sm-accent2-color-#{ $i }, var(--sm-current-accent-color));
  --sm-current-accent3-color: var(--sm-accent3-color-#{ $i }, var(--sm-current-accent2-color));
  --sm-current-fg1-color: var(--sm-fg1-color-#{ $i });
  --sm-current-fg2-color: var(--sm-fg2-color-#{ $i });
}

html {
  @include apply-variation(1);
}

html,
[class*="sm-variation-"]:where(:not(.sm-color-signal-0)) {
  background-color: var(--sm-current-bg-color);
  color: var(--sm-current-fg1-color);
}

@for $i from 1 through 12 {

  .sm-variation-#{ $i } {
    @include apply-variation($i);
  }
}
