.sm-blinds__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
  line-height: 1.4;
  letter-spacing: -0.03em;

  cursor: pointer;

  .sm-blinds:not(:first-child) & {
    border-top: 1px solid var(--customizer-border-color);
  }
}

.sm-blinds__body {
  border-top: 1px solid var(--customizer-border-color);

  .sm-blinds--closed & {
    display: none;
  }
}

.sm-blinds__toggle {
  position: relative;
  width: 14px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -7px;
    margin-left: -7px;
    background: var(--sm-color-palette-accent-color-5);
  }

  &:before {
    height: 2px;
    margin-top: -1px;
  }

  &:after {
    width: 2px;
    margin-left: -1px;

    .sm-blinds--open & {
      display: none;
    }
  }
}
